/* Responsive settings */
@media (max-width: 768px) {
  .summary {
    flex-direction: column; 
    gap: 2rem;
  }

  /* .total {
    align-items: stretch;
  } */
  .total {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .tol,
  .tolBalance {
    max-width: 100%;
    width: 100%;
    text-align: left;
    padding: 1rem;
  }

  button.edit,
  button.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 1rem;

    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    /*
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
    border-radius: 3rem; */
  }

  .chart-box canvas {
    width: 90% !important;
    height: 100% !important;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter label {
    display: none;
  }

  .total {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
  }

  .filter label {
    font-size: 11rem;

    color: #333;
  }

  #category-filter {
    width: 100%;
  }

  #category-filter,
  .category-picker {
    padding: 8px 12px;
    font-size: 1.2rem;
  }

  button.edit,
  button.delete {
    margin-right: 0.8rem;
    font-size: 1rem;
  }
}
